<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Climate Solutions</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body tabindex="-1">
  <%- include('partials/navbar', { page: "/about" }) %>


    <br />

    <div class="container mx-auto">

      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center ">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">About</h1>

            <p class="py-6">Everything you want to know about me - the designer &amp; developer.</p>

          </div>
        </div>
      </div>

      <br />

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <img class="w-full rounded-lg" src="https://adityatambe.vercel.app/static/media/adi-profile.4afd7f4ec7e5244eb580.png" alt="profile" />

        </div>
        <div class="prose">

          <p>My name is Aditya Tambe and I'm currently studying at Seneca Polytechnic.</p>

          <p>I am a dedicated web developer with a strong foundation in full stack development. My experience spans across front-end and back-end technologies, allowing me to craft efficient and scalable applications. I am passionate about solving real-world problems through innovative digital solutions, always striving to create user-friendly and impactful experiences.</p>

        </div>

      </div>

    </div>
</body>

</html>